// 自定义变量
$color: #ff4200;
$fs: 14px;
$ls: 1.2;

// 自定义mixin
@mixin size ($w, $h: $w) {
  width: $w;
  height: $h;
}

body {
  font-size: $fs;
  background-color: #eaeaea;

  .btn {
    @include size(100px, 50px);
    background-color: $color;
    border: 1px solid #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 10px;
    &:hover {
      background-color: #ff4200;
    }
  }
  .item {
    @include size(100px, 50px);
    background-color: #ff4200;
    border: 1px solid #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 10px;
    &:hover {
      background-color: #ff4200;
    }
  }
  .item:nth-of-type(2n) {
    background-color: blueviolet
    // background-color: yellowgreen;
  }
}
