@charset "UTF-8";

@font-face {
    font-family: "sourcehansans";
    src: url("../assets/font/sourcehansans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sourcehansans", sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    width: 100%;
    height: 100%;
}